<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>TTDL</title>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

    <!-- Bootstrap CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">


    <!-- Linkando o CSS -->
    <link rel="stylesheet" type="text/css" href="static/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="static/bibliotecas.css">
    <link rel="stylesheet" type="text/css" href="static/owl.css">

  </head>

  <body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- Preloader End  -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>TTDL<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="biblioteca.html">Bibliotecas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
          <div class="item">
            <img src="static/images/DS-bg-1.png" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Atuação</span>
                </div>
                <a href="post-details.html"><h4>Empregabilidade</h4></a>
                <ul class="post-info">
                  <li><a href="#">Empresas</a></li>
                  <li><a href="#">Indústrias</a></li>
                  <li><a href="#">Startups</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/images/DS-bg-2.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Ciência de Dados</span>
                </div>
                <a href="post-details.html"><h4>A profissão do futuro</h4></a>
                <ul class="post-info">
                  <li><a href="#">Constante expansão</a></li>
                  <li><a href="#">Alta demanda</a></li>
                  <li><a href="#">Alta remuneração</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/images/DS-bg-3.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Oportunidades</span>
                </div>
                <a href="post-details.html"><h4>Flexibilidade no emprego</h4></a>
                <ul class="post-info">
                  <li><a href="#">Home-office</a></li>
                  <li><a href="#">Alta faixa salarial</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/images/DS-bg-4.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Nature</span>
                </div>
                <a href="post-details.html"><h4>Cras congue sed augue id ullamcorper</h4></a>
                <ul class="post-info">
                  <li><a href="#">asdasd</a></li>
                  <li><a href="#">asdasd</a></li>
                  <li><a href="#">adsdasdasda</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="static/images/DS-bg-5.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Algorítimo</span>
                </div>
                <a href="post-details.html"><h4>Aprendizado de máquina</h4></a>
                <ul class="post-info">
                  <li><a href="#">Machine-learning</a></li>
                  <li><a href="#">Previsões</a></li>
                  <li><a href="#">Automações</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="static/images/destaque1.png" alt="">
                    </div>
                    <div class="down-content">
                      <a href="biblioteca.html#MANIPULAÇÃODEDADOS"><span>NumPy</span></a>
                      <h4>Manipulação de Dados</h4>
                      <ul class="post-info">
                        <li><a href="https://numpy.org/doc/stable/">Docs</a></li>
                        <li><a href="https://numpy.org/doc/stable/user/quickstart.html">Exemplos</a></li>
                      </ul>
                      <p>
                        {% if consulta1 %}
                          {% for results in consulta1 %}
                            {{ results[2] }}
                          {% endfor%}
                        {% endif %}
                    </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="static/images/destaque2.png" alt="">
                    </div>
                    <div class="down-content">
                      <a href="biblioteca.html#VISUALIZAÇÃODEDADOS"><span>Matplotlib</span></a>
                      <h4>Visualização de Dados</h4>
                      <ul class="post-info">
                        <li><a href="https://matplotlib.org/stable/index.html">Docs</a></li>
                        <li><a href="https://matplotlib.org/stable/plot_types/index.html">Exemplos</a></li>
                      </ul>
                      <p>
                        {% if consulta2 %}
                          {% for results in consulta2 %}
                            {{ results[2] }}
                          {% endfor%}
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="static/images/destaque3.png" alt="">
                    </div>
                    <div class="down-content">
                      <a href="biblioteca.html#VISUALIZAÇÃODEDADOS"><span>Seaborn</span></a>
                      <h4>Visualização de Dados</h4>
                      <ul class="post-info">
                        <li><a href="https://seaborn.pydata.org/tutorial.html">Docs</a></li>
                        <li><a href="https://seaborn.pydata.org/">Exemplos</a></li>
                      </ul>
                      <p>
                        {% if consulta3 %}
                          {% for results in consulta3 %}
                            {{ results[2] }}
                          {% endfor%}
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="biblioteca.html">Ir para a Biblioteca</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">

                    <form id="search_form" name="gs" action="/index.html" method="GET">
                      <input type="text" id="query" name="query" placeholder="Pesquise as bibliotecas...">
                    </form>
                  
                    {% if bibliotecas_results %}
                      <h2>Resultados da pesquisa:</h2>
                      <table>
                        <thead>
                          <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for result in bibliotecas_results %}
                            <tr>
                              <td>{{ result[1] }}</td>
                              <td>{{ result[2] }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}

                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Vagas em destaque para área de Dados</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li>
                          <h6 id="vagas-destaque">Cientista de Dados</h6>                          
                          <div class="blog-post" id="vagas-destaque-post">
                            <div class="down-content" id="vagas-destaque-descricao">
                              <div class="row">
                                <ul class="post-info">
                                  <li id="lia"><a href="#">Documentação</a></li>
                                  <li id="lia"><a href="#">Referência</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <h6 id="vagas-destaque">Engenheiro de Dados</h6>                          
                          <div class="blog-post" id="vagas-destaque-post">
                            <div class="down-content" id="vagas-destaque-descricao">
                              <div class="row">
                                <ul class="post-info">
                                  <li id="lia"><a href="#">Documentação</a></li>
                                  <li id="lia"><a href="#">Referência</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <h6 id="vagas-destaque">Arquiteto de Dados</h6>                          
                          <div class="blog-post" id="vagas-destaque-post">
                            <div class="down-content" id="vagas-destaque-descricao">
                              <div class="row">
                                <ul class="post-info">
                                  <li id="lia"><a href="#">Documentação</a></li>
                                  <li id="lia"><a href="#">Referência</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <h6 id="vagas-destaque">Analista de Dados</h6>                          
                          <div class="blog-post" id="vagas-destaque-post">
                            <div class="down-content" id="vagas-destaque-descricao">
                              <div class="row">
                                <ul class="post-info">
                                  <li id="lia"><a href="#">Documentação</a></li>
                                  <li id="lia"><a href="#">Referência</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <h6 id="vagas-destaque">Analista de B.I.</h6>                          
                          <div class="blog-post" id="vagas-destaque-post">
                            <div class="down-content" id="vagas-destaque-descricao">
                              <div class="row">
                                <ul class="post-info">
                                  <li id="lia"><a href="#">Documentação</a></li>
                                  <li id="lia"><a href="#">Referência</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <h6 id="vagas-destaque">Engenheiro de ML</h6>                          
                          <div class="blog-post" id="vagas-destaque-post">
                            <div class="down-content" id="vagas-destaque-descricao">
                              <div class="row">
                                <ul class="post-info">
                                  <li id="lia"><a href="#">Documentação</a></li>
                                  <li id="lia"><a href="#">Referência</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <h6 id="vagas-destaque">Analista de I.A.</h6>                          
                          <div class="blog-post" id="vagas-destaque-post">
                            <div class="down-content" id="vagas-destaque-descricao">
                              <div class="row">
                                <ul class="post-info">
                                  <li id="lia"><a href="#">Documentação</a></li>
                                  <li id="lia"><a href="#">Referência</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categorias</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="biblioteca.html" data-category="Manipulação de Dados e Estatística">- Manipulação de Dados e Estatística</a></li>
                        <li><a href="biblioteca.html" data-category="Visualização de Dados e Dashboards">- Visualização de Dados e Dashboards</a></li>
                        <li><a href="biblioteca.html" data-category="Machine Learning">- Machine Learning</a></li>
                        <li><a href="biblioteca.html" data-category="Deep Learning">- Deep Learning</a></li>
                        <li><a href="biblioteca.html" data-category="Data e Web Scraping">- Data e Web Scraping</a></li>
                        <li><a href="biblioteca.html" data-category="Data App e Banco de Dados">- Data App e Banco de Dados</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <footer>
      <div class="container footer-pages">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="index.html">Home</a></li>
              <li><a href="biblioteca.html">Bibliotecas</a></li>
              <li><a href="about.html">About Us</a></li>
            </ul>
            <p>&copy; TTDL 2023</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap do JavaScript -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

    <!-- Scripts adicionais -->
    <script src="static/js/custom.js"></script>
    <script src="static/js/owl.js"></script>
    <script src="static/js/slick.js"></script>
    <script src="static/js/isotope.js"></script>
    <script src="static/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0;
      function clearField(t){                   
      if(! cleared[t.id]){                    
          cleared[t.id] = 1;  
          t.value='';         
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>